.board_list_container{

}

.nowBoard {
    margin: 50px auto auto;
    width: 85%;

    font-weight: 500;
    font-size: 24px;
    /* color: #224459; */
}

.board_list_table{
    margin : 15px auto;
    width : 85%;

    border-collapse: collapse;
    border-top: 2px solid rgba(115, 115, 115, 0.8);
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    text-align: center;
}

.board_head {
    font-size: 16px;
    font-weight: 500;
}


tr > th, td {
    border-bottom: 1px solid rgba(115, 115, 115, 0.8);
}

tr > th {
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);
}

tr > th:nth-child(1) {
    width : 5%;
}

tr > th:nth-child(2) {
    width : 8%;
}

tr > th:nth-child(3) {
    padding: 7px;
}

tr > th:nth-child(4) {
    width : 12%;
}

tr > th:nth-child(5) {
    width : 5%;
}
tr > th:nth-child(5) {
    width : 5%;
}

tr:nth-child(2n){
    background-color: rgba(115, 115, 115, 0.15);
}

tr > td {
    padding: 5px;
}

tr> td:nth-child(3) {
    text-align: left;
}