.board_list_table tr, .boardlist_table tr {
    width: 100%;
}

tr > th, td {
    border-bottom: 1px solid lightgray;
    padding: 5px;
}

tr > th {
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);
}

tr > td {
    padding: 1%;
}

.title_length:hover {
    font-weight: bold;
    cursor: pointer;
}

/* 전체 게시판, 공지사항 테이블 설정 */

.board_list_table {
    margin-top: 15px;
    border-collapse: collapse;
    border-top: 2px solid rgba(115, 115, 115, 0.8);
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);
    text-align: center;
    width: 100%;
}

.board_list_table tr > th:nth-child(1), .board_list_table td:nth-child(1) {
    width : 10%;
}

.board_list_table tr > th:nth-child(2), .board_list_table td:nth-child(2) {
    width : 10%;
}

.board_list_table tr > th:nth-child(3), .board_list_table td:nth-child(3) {
    width : 40%;
}

.board_list_table tr > th:nth-child(4), .board_list_table td:nth-child(4) {
    width: 15%;
}

.board_list_table tr > th:nth-child(5), .board_list_table td:nth-child(5) {
    width : 10%;
}

.board_list_table tr > th:nth-child(6), .board_list_table td:nth-child(6) {
    width : 10%;
}

.board_list_table tr > td:nth-child(3) {
    text-align: left;
}

/* 전체 게시판, 공지사항 외 게시판 테이블 설정 */

.boardlist_table {
    margin-top: 15px;
    border-collapse: collapse;
    border-top: 2px solid rgba(115, 115, 115, 0.8);
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);
    text-align: center;
    width: 100%;
}

.boardlist_table tr > th :nth-child(1), .boardlist_table td:nth-child(1) {
    width : 10%;
}

.boardlist_table tr > th:nth-child(2), .boardlist_table td:nth-child(2) {
    width : 50%;
}

.boardlist_table tr > th:nth-child(3), .boardlist_table td:nth-child(3) {
    width : 15%;
}

.boardlist_table tr > th:nth-child(4), .boardlist_table td:nth-child(4) {
    width : 10%;
}

.boardlist_table tr > th:nth-child(5), .boardlist_table td:nth-child(5) {
    width : 10%;
}

.boardlist_table tr > td:nth-child(2) {
    text-align: left;
}