.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 0px;
    margin-left: 2px;
    margin-right: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

/* ul.pagination li:first-child{
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
    border-radius: 0 5px 5px 0;
} */

ul.pagination li a {
    text-decoration: none;
    color: #4AA4F4;
    font-size: 1rem;
}

ul.pagination li.active a {
    color: #0D0D0D;
}

ul.pagination li.active {
    border: 2px solid #4AA4F4;
    border-radius: 5px;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    color: blue;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #4AA4F4;
}

.title_length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
    /* 제목 길면 ... 해주는거 할려면 길이 고정이 필요 */
}

.title_length:visited {
    color: purple;
}

.boardrow {
    width: 100%;
    text-align: center;
}