.board_list_container{

}

.board_list_table{
    border : 0px;
    margin : 0 auto;
    width : 85%;
}

.board_head {
    font-size: 16px;
    font-weight: 500;
}


tr > th, td {
    border : 0px;
}

tr > th:nth-child(1) {
    width : 5%;
}

tr > th:nth-child(2) {

}

tr > th:nth-child(3) {
    width : 8%;
}

tr > th:nth-child(4) {
    width : 10%;
}

tr > th:nth-child(5) {
    width : 5%;
}

tr:nth-child(2n){
    background-color: lightgray;
}
