//=====================댓글======================

.comments_wrapper {
  .comments_header {
    margin: 0;
    display: flex;

    .comments_header_textarea {
      flex: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }
}

//=====================대댓글====================

.recomments_body {
  margin-left: 2.5rem;
}

.recomments_wrapper {
  .comments_header {
    margin: 1rem 0;
    display: flex;

    .comments_header_textarea {
      flex: 1;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    button {
      margin-left: 0.5rem;
      font-size: 1.1rem;
    }
  }
}

//==============================================

.comments_body {
  margin: 15px 0;
}
.comment_info_box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #737373cc;

  .comment_username {
    font-weight: 500;
  }
}

.comment_content {
  // \n(엔터)를 태그 안의 텍스트에 적용
  white-space: pre-wrap;
  word-break: break-all;
  margin: 0.4rem auto;
}

.comment_button_box {
  display: flex;
  flex-direction: row-reverse;
}

.comment_report {
  color: #224459;
  .material-icons {
    color: #EE4451;
  }
}

.material-icons {
  font-size: 14px;
  vertical-align: baseline;
}