.crawlingBoxMsg {
    margin-top: 50px;
    margin-left: 15px;

    font-weight: 500;
    font-size: 24px;
    /* color: #224459; */
}

.crawling {
    margin-top: 15px;

    width: 100%;

    border-collapse: collapse;
    border-top: 2px solid rgba(115, 115, 115, 0.8);
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    text-align: center;
}