.crawling {
    width: 100%;

    border-collapse: collapse;
    border-top: 2px solid rgba(115, 115, 115, 0.8);
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);
}

.crawling td {
    text-align: left;
    padding: 7px;
}

td:hover {
    font-weight: bold;
    cursor: pointer;
}

.crawlingTab {
    width: 100%;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.crawlingTabButton {
    display: inline-block;
    width: 65px;
    height: 27px;

    padding-top: 3px;

    margin-left: 10px;
    margin-right: 10px;

    text-align: center;
}