.footer {
    border-top: 1px solid #73737333;

    margin-top: 50px;

    height: 70px;

    color: #737373cc;
}

.footer_container {
    display: flex;
    justify-content: space-between;

    padding-left: 20px;
    padding-right: 20px;
}

.copyright {
    color: #0D0D0D;
}