.header{
    border-bottom: 1px solid rgba(115, 115, 115, 0.2);
    background-color: #FFFFFF;

    height: 100px;
}

.header_container {
    display: flex;
    justify-content: space-between;
}

.left_header {
    flex: 2;
}

.center_header {
    flex: 4;
}

.right_header {
    flex: 4;
    display: flex;
}

.header_items{
    margin : 30px;
    height : 50px;
    line-height : 50px;
    flex-shrink: 0;
    text-align: center;
}

.header_items:hover {
    color: rgba(115, 115, 115);
}

.header_line {
    margin-top: 45px;
    height: 20px;
    border-right: 1px solid rgba(115, 115, 115, 0.8);
}

.header_search {
    vertical-align: middle;
}

.search_row {
    /* box-sizing: border-box; */
    height: 28px;
    padding: 10px 15px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    width: 150px;
}

.search_input {
    /* width: 100%; */
    padding: 0px;
    border: 0px;

    font-weight: 400;
    font-size: 16px;
}

.search_button {
    margin-bottom: 4px;
    margin-left: 2px;
    border: 2px solid rgba(115, 115, 115, 0.8);

    width: 40px;
    height: 40px;

    vertical-align: bottom;
    background: #fff;
}

.search_button:hover {
    background: rgba(115, 115, 115, 0.4);
}
