.login_box {
    margin: 0 auto;
    margin-top: 30px;

    max-width: 500px;
    min-width: 280px;
}

.login_title {
    margin-bottom: 30px;
}

.id_input, .pw_input, .login_button {
    width: 100%;
    padding: 0px;

    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.05em;
}

.input_row {
    box-sizing: border-box;
    margin-top: 22px;
    height: 50px;
    padding: 13px 15px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    width: 100%;
}

.id_input, .pw_input {
    border: 0px;
}

.id_input::placeholder, .pw_input::placeholder {
    color: rgba(115, 115, 115, 0.8);
}

.idsearch_button {
    margin-top : 15px;
    padding: 0px;
    border: 0px;

    position: absolute;
    right: 90px;

    text-align: right;
}

.signup_button {
    margin-top : 15px;
    padding: 0px;
    border: 0px;

    position: absolute;
    right: 15px;
    text-align: right;
}

.signup_button {
    margin-top : 15px;
    padding: 0px;
    border: 0px;

    position: absolute;
    right: 15px;
    text-align: right;
}

.login_button {
    margin-top: 72px;

    position: absolute;
    right: 0%;

    width: 140px;
    height: 50px;
}

.button_container{
    position: relative;
    height: 110px;
}