.menubar{
    border: 0px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);
    height: 50px;
    display: flex;
    width : 85%;
    margin : 0 auto;
}

.menubar_items{
    border: 0px;

    height: 100%;
    width : 100%;

    font-size: 18px;
}
