.menubar{
    display: flex;

    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    color: rgba(115, 115, 115);
}

.menubar_items{
    border: 0px;

    height: 100%;
    width : 100%;

    font-size: 18px;
}

.menubar_items:hover {
    color: rgba(115, 115, 115);
}

.menubar_line{
    margin-top: 0px;
    height: 25px;
    border-right: 1px solid rgba(115, 115, 115, 0.8);
}

.boardlist_footer button{
    width: 8%;
    margin-top: 20px;
}