.name_show, .webmail_show, .id_show, .reg_pw_input, .confirm_pw_input, .pw_edit_button, .mypage_msg, .delete_account_password, .grade_input {
    width: 100%;
    padding: 0px;

    font-weight: 400;
    font-size: 20px;
}

.reg_pw_input::placeholder, .confirm_pw_input::placeholder, .delete_account_password::placeholder, .grade_input::placeholder {
    color: rgba(115, 115, 115, 0.8);
}

.mypage_msg {
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: -19px;

    font-weight: 500;
}

.name_show, .webmail_show, .id_show, .reg_pw_input, .confirm_pw_input, .delete_account_password, .grade_input {
    border: 0;
}

.mypage_row {
    box-sizing: border-box;
    margin-top: 22px;
    height: 50px;
    padding: 13px 15px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    width: 100%;
}

.mypage_button_container{
    position: relative;
    height: 70px;
}

.pw_edit_button {
    margin-top: 10px;

    position: absolute;
    right: 0%;

    width: 160px;
    height: 50px;
}

.delete_account, .grade_edit {
    margin-top: 20px;

    position: absolute;
    right: 0%;

    width: 110px;
    height: 50px;
}

.mypost_box > table {
    width: 100%;
}

.report_box > table {
    width: 100%;
}

/* .title_length {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
} */

.report_delete_button {
    color: #EE4451;
}

.noMyArticle {
    text-align: center;
}