.view_section {
    margin: 0 auto;
    width: 85%;

}

.left_mypage {
    margin-top: 50px;
    width: 35%;
    display: table-cell;
}

.margin_section {
    width: 3%;
}

.right_mypage {
    margin-top: 50px;
    width: 62%;
    display: table-cell;
}

.mypage_box {
    margin: 0 auto;
    margin-top: 50px;

    /* width: 500px; */
    height : 800px
}

.mypage_title {
    margin-bottom: 30px;
}

.name_show, .webmail_show, .id_show, .reg_pw_input, .confirm_pw_input, .pw_edit_button, .mypage_msg {
    width: 100%;
    padding: 0px;

    font-weight: 400;
    font-size: 20px;
}

.reg_pw_input, .confirm_pw_input {
    color: rgba(115, 115, 115, 0.8);
}

.mypage_msg {
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: -19px;

    font-weight: 500;
}

.name_show, .webmail_show, .id_show, .reg_pw_input, .confirm_pw_input {
    border: 0;
}

.mypage_row {
    box-sizing: border-box;
    margin-top: 22px;
    height: 50px;
    padding: 13px 15px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    width: 100%;
}

.button_container{
    position: relative;
}

.pw_edit_button {
    margin-top: 10px;
    border: 2px solid rgba(115, 115, 115, 0.8);

    position: absolute;
    right: 0%;

    width: 140px;
    height: 50px;

    font-size: 18px;

    background: #fff;
}

.mypost_box {
    width: 100%;
    height: 800px;
}

.mypost_box > table {
    width: 100%;
}

.report_box > table {
    width: 100%;
}