/*드롭다운 css*/
@keyframes slide-fade-in-dropdown-animation {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.slide-fade-in-dropdown {
    overflow: hidden;
}
.slide-fade-in-dropdown > ul {
    animation: slide-fade-in-dropdown-animation .4s ease;
}
@keyframes slide-fade-out-dropdown-animation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
.slide-fade-out-dropdown {
    overflow: hidden;
}
.slide-fade-out-dropdown > ul {
    animation: slide-fade-out-dropdown-animation 0.4s ease;
    animation-fill-mode: forwards;
}
.components-dropdown > ul {
    position: relative;
    top: 5px;
    margin-top: 0;
    margin-bottom: 5px;
    padding-left: 0;
    list-style: none;
    background-color: white;
    z-index: 32;
}
.post_dropdown_box {
    position : absolute;
}
/*======================================*/

.board_title_section {
    width: 100%;
    /* display: table; */
}


.input_title_row {
    box-sizing: border-box;
    /* margin-top: 22px; */
    margin-left: 150px;
    height: 50px;
    padding: 13px 15px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    width: calc(100% - 150px);
}

.input_title {
    width: 100%;
    padding: 0px;

    border: 0px;

    font-size: 20px;

    color: rgba(115, 115, 115, 0.8);
}



.post_write_box {
    width: 100%;
}

.post_write_button {
    position: relative;
    height: 50px;
}

.post_register_button {
    position: absolute;
    right: 0%;

    width: 120px;
    height: 50px;
}

.post_cancel_button {
    position: absolute;
    right: 130px;

    width: 120px;
    height: 50px;
}

.file_box {
    border: 3px dashed rgba(115, 115, 115, 0.5);
    text-align: center;
}
