.board_title_section {
    width: 100%;
    position: relative;
}


.post_dropdown_box {
    float: left;
}
.post_dropdown_box > button {
    width: 150px;
}
.post_dropdown_button {
    width: 150px;
    height: 40px;

    background: #FFFFFF;

    font-size: 16px;

    float: left;
    
}


.input_title_row {
    box-sizing: border-box;
    height: 50px;
    padding: 13px 15px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);
}

.input_title {
    font-size: 20px;
}



.post_write_box {
    width: 100%;
}

.post_write_button {
    position: relative;
    height: 50px;
}

.post_register_button {
    position: absolute;
    right: 0%;

    width: 120px;
    height: 50px;
}

.post_cancel_button {
    position: absolute;
    right: 130px;

    width: 120px;
    height: 50px;
}

.file_box {
    border: 3px dashed rgba(115, 115, 115, 0.5);
    text-align: center;
    
    cursor: pointer;
}

.file_delete_button {
    border: none;
    background: none;

    color: #EE4451;

    cursor: pointer;

    margin-bottom: 5px;
}

.file_delete_button > .material-icons-outlined {
    font-size: 20px;
    vertical-align: bottom;
}

.file_box {
    border-color: #4AA4F4;
}
    
