.register_box {
    margin: 0 auto;
    margin-top: 50px;

    width: 500px;
}

.register_title {
    margin-bottom: 30px;
}

.name_input, .webmail_input, .reg_id_input, .reg_pw_input, .confirm_pw_input, .register_button, .message, .input_msg {
    width: 100%;
    padding: 0px;

    font-weight: 400;
    font-size: 20px;
}

.message {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 15px;

    color: #0D0D0D;
}

.input_msg {
    box-sizing: border-box;
    margin-top: 35px;
    margin-bottom: -19px;

    font-weight: 500;
    color: #0D0D0D;
}

.name_input, .webmail_input, .reg_id_input, .reg_pw_input, .confirm_pw_input {
    border: 0;
}

.name_input::placeholder, .webmail_input::placeholder, .reg_id_input::placeholder, .reg_pw_input::placeholder, .confirm_pw_input::placeholder {
    color: rgba(115, 115, 115, 0.8);
}

.input_row {
    box-sizing: border-box;
    margin-top: 22px;
    height: 50px;
    padding: 13px 15px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    width: 100%;
}

.email_input_row {
    box-sizing: border-box;
    margin-top: 22px;
    height: 50px;
    padding: 13px 15px;
    border-bottom: 2px solid rgba(115, 115, 115, 0.8);

    width: 335px;
}

.email_msg {
    margin-top: -25px;
    margin-left: 335px;

    font-size: 20px;
}

.idcheck_button, .emailcheck_button {
    margin-top : 15px;

    position: absolute;
    right: 15px;
    
    text-align: right;
}

.emailcheck_button {
    margin-top : 0px;
}

.button_container{
    position: relative;
    padding-bottom: 15px;
}

.register_button {
    margin-top: 40px;

    position: absolute;
    right: 0%;

    width: 140px;
    height: 50px;
}

.check_msg {
    padding: 13px;
}

.failure {
    padding: 13px;
    color: red;
}

.success {
    padding: 13px;
    color: blue;
}