.title {
    position: absolute;
    width: 58px;
    height: 39px;
    left: 462px;
    top: 285px;

    font-style: Bold;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: -0.05em;

    color: #0D0D0D;
}