.post_section {
    width: 70%;
}

.board_list_table {
    width: 100%;
}

.title {
    margin-top: 50px;
    margin-left: 15px;  

    font-weight: 700;
    font-size: 32px;

    color: #0D0D0D;
}

.line {
    width: 100%;

    border-bottom: 2px solid rgba(115, 115, 115, 0.8);
}

.post_info_table {
    margin-top: 20px;
    margin-left: 15px;
    border: 0px;

    width: 100%;

    font-weight: 500;
    font-size: 16px;
    color: rgba(115, 115, 115, 0.8);
}

.post_content {
    margin: 15px 15px; 
    
    font-weight: 400;
    font-size: 24px;
}

.post_tag, .edit_delete_list {
    font-weight: 400;
    font-size: 16px;
    color: #224459;
}

.post_tag {
    margin-left: 15px;
}

.edit_delete_list {
    margin-left: auto;
    margin-right: 15px;
    border: 0px;
}